# Clean frequencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ROOT_PATH = "../../../desarrollo/"

# Path to the CSV file of audio annotations
csv_file = ROOT_PATH + "Data/Annotations/audio_annotations.csv"

In [3]:
# Load the CSV file into a pandas DataFrame
annotations_df = pd.read_csv(csv_file)

# Display the first few rows of the DataFrame to verify the correct loading of data
annotations_df.head()

,path,annotator,recorder,date,time,audio_duration,start_time,end_time,low_frequency,high_frequency,specie
0,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,12.488571,13.105714,3003.168457,5366.754395,galerida theklae
1,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,11.331429,12.488571,3583.403809,6542.934570,abiotic noise
2,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,11.297143,13.474286,0.000000,1754.262451,abiotic noise
3,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,6.960000,11.297143,18.972063,5970.894531,abiotic noise
4,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,5.914286,6.925714,1881.718994,3449.984619,cyanopica cooki

In [4]:
# Print number of instances
print("Count of instances: ", len(annotations_df))

# Print count of instances with start_time < 0
print("Count of instances with start_time < 0: ", len(annotations_df[annotations_df['start_time'] < 0]))

# Print count of instances with end_time > 60
print("Count of instances with end_time > 60: ", len(annotations_df[annotations_df['end_time'] > 60]))

# Print count of instances with end_time < start_time
print("Count of instances with end_time < start_time: ", len(annotations_df[annotations_df['end_time'] < annotations_df['start_time']]))

Count of instances:  5778
Count of instances with start_time < 0:  0
Count of instances with end_time > 60:  26
Count of instances with end_time < start_time:  0

In [5]:
START_TIME = 0.0
MAX_END_TIME = 60.0

In [6]:
# If an instance has end_time > 60, set it to 60
annotations_df.loc[annotations_df['end_time'] > 60, 'end_time'] = MAX_END_TIME

In [7]:
# Print count of instances
print("Count of instances: ", len(annotations_df))

# Print count of instances date = 2023/05/30
print("Count of instances date = 2023/05/30: ", len(annotations_df[annotations_df['date'] == '2023/05/30']))

Count of instances:  5778
Count of instances date = 2023/05/30:  1016

In [10]:
# Delete all rows whose date is 30/05/2023
# annotations_df = annotations_df[annotations_df['date'] != '2023/05/30']

In [8]:
# Print count of instances
print("Count of instances: ", len(annotations_df))

Count of instances:  5778

In [9]:
# Save the updated DataFrame to a new CSV file
annotations_df.to_csv(csv_file, index=False)