In [2]:
# Read CSV file in Annotations folder and change specie column names No Audio to Background

import os
import pandas as pd

# Read CSV file
df = pd.read_csv('../Data/Dataset/CSVs/dataset.csv')

In [3]:
df

,path,annotator,recorder,date,time,audio_duration,start_time,end_time,low_frequency,high_frequency,specie,bbox
0,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,12.488571,13.105714,3003.168457,5366.754395,Galerida theklae,"[19, 0.2129032258064516, 0.20010527406349365, ..."
1,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,5.914286,6.925714,1881.718994,3449.984619,Cyanopica cooki,"[13, 0.1064516129032258, 0.2439350565089254, 0..."
2,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,41.194286,41.734286,2604.460205,3502.845947,Cyanopica cooki,"[13, 0.6903225806451613, 0.2275352877017647, 0..."
3,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,11.331429,12.394286,1801.304199,3502.845947,Cyanopica cooki,"[13, 0.19731182795698926, 0.24530724483567576,..."
4,AM1/2023_05_10/AM1_20230510_060000.WAV,Edu,AM1,2023/05/10,06:00:00,00:01:00,30.548571,32.537143,2820.347168,5601.550781,Galerida theklae,"[19, 0.5252688172043011, 0.20106867887207103, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3744,AM8/2023_05_30/AM8_20230530_110000.WAV,Giulia,AM8,2023/05/30,11:00:00,00:01:00,15.326958,19.618950,7534.428564,16000.000000,Carduelis carduelis,"[5, 0.2908602150537634, 0.1031186152388285, 0...."
3745,AM8/2023_05_30/AM8_20230530_110000.WAV,Giulia,AM8,2023/05/30,11:00:00,00:01:00,10.070100,11.012785,10045.170898,15652.996094,Carduelis carduelis,"[5, 0.17526881720430107, 0.09031277026379966, ..."
3746,AM8/2023_05_30/AM8_20230530_110000.WAV,Giulia,AM8,2023/05/30,11:00:00,00:01:00,14.339911,16.039736,1607.101094,3234.563699,Luscinia megarhynchos,"[23, 0.25268817204301075, 0.2546464671244051, ..."
3747,AM8/2023_05_30/AM8_20230530_110000.WAV,Giulia,AM8,2023/05/30,11:00:00,00:01:00,48.498399,51.803344,11486.522738,14348.650436,Carduelis carduelis,"[5, 0.8349462365591398, 0.08804371979449326, 0..."
3748,AM8/2023_05_30/AM8_20230530_110000.WAV,Giulia,AM8,2023/05/30,11:00:00,00:01:00,5.012869,7.379209,1746.958767,4368.962709,Luscinia megarhynchos,"[23, 0.10268817204301076, 0.23613408815225992,..."

In [4]:
# Unique specie in df
df['specie'].unique()

array(['Galerida theklae', 'Cyanopica cooki', 'Curruca melanocephala',
       'No audio', 'Curruca', 'Curruca undata', 'Carduelis carduelis',
       'Bird', 'Sylvia', 'Turdus merula', 'Chloris chloris', 'Alaudidae',
       'Calandrella brachydactyla', 'Parus major', 'Cisticola juncidis',
       'Emberiza calandra', 'Sturnus unicolor', 'Merops apiaster',
       'Passer', 'Milvus migrans', 'Luscinia megarhynchos', 'Fringilla',
       'Saxicola rubicola', 'Motacilla flava', 'Ciconia ciconia',
       'Upupa epops', 'Pica pica', 'Sturnus', 'Cettia cetti',
       'Anthus pratensis', 'Hippolais polyglotta', 'Linaria Cannabina',
       'Galerida Cristata', 'Melanocorypha calandra', 'Lanius',
       'Serinus serinus', 'Falco tinnunculus', 'Streptopelia decaocto'],
      dtype=object)

In [5]:
# len of unique specie
len(df['specie'].unique())

38

In [6]:
# Change specie column names No Audio to Background
df['specie'] = df['specie'].replace('No audio', 'No bird')
# Sturnus to Sturnus sp.
df['specie'] = df['specie'].replace('Sturnus', 'Sturnus sp.')
# Passer to Passer sp.
df['specie'] = df['specie'].replace('Passer', 'Passer sp.')
# Lanius to Lanius sp.
df['specie'] = df['specie'].replace('Lanius', 'Lanius sp.')
# Curruca to Sylvia sp.
df['specie'] = df['specie'].replace('Curruca', 'Sylviidae')
# Sylvia to Sylviidae
df['specie'] = df['specie'].replace('Sylvia', 'Sylviidae')
# Linaria Cannabina to Linaria cannabina
df['specie'] = df['specie'].replace('Linaria Cannabina', 'Linaria cannabina')
# Galerida Cristata to Galerida cristata
df['specie'] = df['specie'].replace('Galerida Cristata', 'Galerida cristata')
# Fringilla to Fringillidae
df['specie'] = df['specie'].replace('Fringilla', 'Fringillidae')
# Sturnus to Sturnus sp.
df['specie'] = df['specie'].replace('Sturnus', 'Sturnus sp.')

In [8]:
# unique specie and len
df['specie'].unique()

array(['Galerida theklae', 'Cyanopica cooki', 'Curruca melanocephala',
       'No bird', 'Sylviidae', 'Curruca undata', 'Carduelis carduelis',
       'Bird', 'Turdus merula', 'Chloris chloris', 'Alaudidae',
       'Calandrella brachydactyla', 'Parus major', 'Cisticola juncidis',
       'Emberiza calandra', 'Sturnus unicolor', 'Merops apiaster',
       'Passer sp.', 'Milvus migrans', 'Luscinia megarhynchos',
       'Fringillidae', 'Saxicola rubicola', 'Motacilla flava',
       'Ciconia ciconia', 'Upupa epops', 'Pica pica', 'Sturnus sp.',
       'Cettia cetti', 'Anthus pratensis', 'Hippolais polyglotta',
       'Linaria cannabina', 'Galerida cristata', 'Melanocorypha calandra',
       'Lanius sp.', 'Serinus serinus', 'Falco tinnunculus',
       'Streptopelia decaocto'], dtype=object)

In [10]:
# Save as dataset_updated.csv
df.to_csv('../Data/Dataset/CSVs/dataset_updated.csv', index=False)

In [11]:
# unique_species_mapped is a CSV with mapped species, read it and do the same with its species in column Specie_Name
df = pd.read_csv('../Data/Annotations/unique_species_mapped.csv')

# Change specie column names No Audio to Background
df['Specie_Name'] = df['Specie_Name'].replace('No audio', 'No bird')
# Sturnus to Sturnus sp.
df['Specie_Name'] = df['Specie_Name'].replace('Sturnus', 'Sturnus sp.')
# Passer to Passer sp.
df['Specie_Name'] = df['Specie_Name'].replace('Passer', 'Passer sp.')
# Lanius to Lanius sp.
df['Specie_Name'] = df['Specie_Name'].replace('Lanius', 'Lanius sp.')
# Curruca to Sylvia sp.
df['Specie_Name'] = df['Specie_Name'].replace('Curruca', 'Sylviidae')
# Sylvia to Sylviidae
df['Specie_Name'] = df['Specie_Name'].replace('Sylvia', 'Sylviidae')
# Linaria Cannabina to Linaria cannabina
df['Specie_Name'] = df['Specie_Name'].replace('Linaria Cannabina', 'Linaria cannabina')
# Galerida Cristata to Galerida cristata
df['Specie_Name'] = df['Specie_Name'].replace('Galerida Cristata', 'Galerida cristata')
# Fringilla to Fringillidae
df['Specie_Name'] = df['Specie_Name'].replace('Fringilla', 'Fringillidae')
# Sturnus to Sturnus sp.
df['Specie_Name'] = df['Specie_Name'].replace('Sturnus', 'Sturnus sp.')

# Save as new_unique_species_mapped.csv
df.to_csv('../Data/Annotations/new_unique_species_mapped.csv', index=False)